################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ConsoleApp1/obj
/ConsoleApp1/bin/Debug/netcoreapp2.0
/.vs
/DotNetCore.WebHostDemo.v12.suo
